.credit-line {
  margin-left: auto;
  margin-right: auto;
  max-width: 832px;
  justify-content: space-between;
  display: flex;
  border-top: 3px solid #e9e9e9;
  .title {
    font-size: 15px !important;
    line-height: 14.63px;
    color: #b2b6b8;
    margin: 0;
    letter-spacing: 0rem;
  }
}


.title-list-transfers{
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem 1rem 1rem;
  max-width: 832px;
}

.title-table {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem 1rem 1rem;
  max-width: 832px;
}

.container-table-calc {
  background: #f9f9f9;
  padding-top: 1.5rem;
  .input-commission-table {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 832px;
    .title-commission{
      padding-right: 2rem;
    }
    .title {
      font-size: 15px !important;
      line-height: 14.63px;
      color: #b2b6b8;
      margin: 0;
      letter-spacing: 0rem;
    }
  }
}

.values-list {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem 0 1rem;
  
  max-width: 832px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  border-bottom: 1px solid #e9e9e9;
  .title-black,
  .title-red {
    font-weight: 600;
  }
  .title-red {
    color: red;
  }
}

.btn-switch {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 832px;
  .title {
    font-size: 15px !important;
    line-height: 14.63px;
    color: #b2b6b8;
    margin: 0;
    letter-spacing: 0rem;
  }
  .toggle-practice-direct {
    margin-right: 3rem;
  }
}

.footer-table-calc {
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  .btn-restore,
  .btn-disable {
    font-size: 12px;
    line-height: 15px;
    min-width: 175px;
    border-radius: 28px;
    color: #fff;
  }
  .btn-restore {
    margin-right: 1rem;
    background: #60747d;
  }
  .btn-disable {
    background: #b4ddc4;
  }
}
