footer {
    background: #5a6e75;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: block;
    
  }
  
  footer .container {
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin: auto;
  }
  
  footer .logo {
    height: 30px;
  }
  