body {
  background: #f4f4f4;
}

main {
  font-family: 'Montserrat,Helvetica,Sans-serif';
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  flex-direction: column;
}

.banca-project-hero-info label {
  font-size: 18px;
  line-height: 22px;
}

.banca-project-hero-info:first-child {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: #e8e8e8;
  padding-top: 2.5rem 
}

.title {
  font-size: 35px;
  line-height: 42.67px;
  font-weight: 500;
}

.badge-id {
  margin-left: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: rgb(90 110 117);
  padding: 6px 18px;
  border-radius: 73px;
}

.banca-project-hero-info:last-child {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.info-data {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  div {
    margin-right: 2rem;
  }
  button {
    margin-left: 4.9rem;
  }
}

.badge-tool {
  background: #97d1af;
  box-shadow: 0 2px 5px #a4a4a4;
  color: #fff;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem;
  min-width: 200px;
}

.pricing-factoring-hero-info-list {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}